<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="XeroAutomationConsoleApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.102.0" newVersion="1.0.102.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <XeroAutomationConsoleApplication.Properties.Settings>
      <setting name="XeroAppName" serializeAs="String">
        <value>AppDemo1</value>
      </setting>
      <setting name="ConsumerKey" serializeAs="String">
        <value>NN2UXHFSN9BKVUJ0VQT6YF31ZNWSHU</value>
      </setting>
      <setting name="ConsumerSecret" serializeAs="String">
        <value>AJBXRTVGBZ4YOPRI8QAWBWPYA50RX6</value>
      </setting>
      <setting name="RequestTokenURL" serializeAs="String">
        <value>https://api.xero.com/oauth/RequestToken</value>
      </setting>
      <setting name="AuthoriseURL" serializeAs="String">
        <value>https://api.xero.com/oauth/Authorize</value>
      </setting>
      <setting name="AccessTokenURL" serializeAs="String">
        <value>https://api.xero.com/oauth/AccessToken</value>
      </setting>
      <setting name="APIEndpointURL" serializeAs="String">
        <value>https://api.xero.com/api.xro/2.0/</value>
      </setting>
      <setting name="OAuthCallbackDomain" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="baseURL" serializeAs="String">
        <value>https://api.xero.com</value>
      </setting>
      <setting name="timeWaitInSeconds" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="XeroLoginUrl" serializeAs="String">
        <value>https://login.xero.com/</value>
      </setting>
      <setting name="XeroUserEmail" serializeAs="String">
        <value>lolayan@outlook.com</value>
      </setting>
      <setting name="XeroUserPassword" serializeAs="String">
        <value>password123</value>
      </setting>
      <setting name="XeroDashboardUrl" serializeAs="String">
        <value>https://go.xero.com/Dashboard/</value>
      </setting>
      <setting name="XeroDemoOrgDashboardUrl" serializeAs="String">
        <value>https://my.xero.com//Action/OrganisationLogin/!Rbg3D</value>
      </setting>
    </XeroAutomationConsoleApplication.Properties.Settings>
  </userSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
</configuration>