<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XeroWebUIAutomation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <XeroWebUIAutomation.Properties.Settings>
            <setting name="Browser" serializeAs="String">
                <value>chrome</value>
            </setting>
            <setting name="LoginUrl" serializeAs="String">
                <value>https://login.xero.com/</value>
            </setting>
            <setting name="RemoteExecution" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="DriversLocation" serializeAs="String">
                <value>C:\Drivers</value>
            </setting>
            <setting name="timeWaitInSeconds" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="UserEmail" serializeAs="String">
                <value>lolayan@outlook.com</value>
            </setting>
            <setting name="UserPassword" serializeAs="String">
                <value>password123</value>
            </setting>
            <setting name="DashboardUrl" serializeAs="String">
                <value>https://go.xero.com/Dashboard/</value>
            </setting>
            <setting name="SalesUrl" serializeAs="String">
                <value>https://go.xero.com/Accounts/Receivable/Dashboard/</value>
            </setting>
            <setting name="SignupUrl" serializeAs="String">
                <value>https://www.xero.com/nz/signup/</value>
            </setting>
            <setting name="APIPreviewUrl" serializeAs="String">
                <value>https://app.xero.com/Preview</value>
            </setting>
            <setting name="DisconnectFromXero" serializeAs="String">
                <value>https://app.xero.com/Previewer/DisconnectFromXero</value>
            </setting>
            <setting name="SetupOAuthConnection" serializeAs="String">
                <value>https://app.xero.com/Previewer/SetupOAuthConnection</value>
            </setting>
            <setting name="Url" serializeAs="String">
                <value>https://login.xero.com/</value>
            </setting>
        </XeroWebUIAutomation.Properties.Settings>
    </userSettings>
</configuration>